<h1>Listing messenger_events</h1>

<table id="messenger_events-table">
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Messenger events</a>