<h1>New messenger_event</h1>

<form id="new-messenger_event" name="messenger_event">
  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Messenger events" />
  </div>

</form>

<a href="#/index">Back</a>