<h1>Edit recipient</h1>

<form id="edit-recipient" name="recipient">
  <div class="field">
    <label for="uid"> uid:</label>
    <input type="text" name="uid" id="uid" value="<%= uid %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Recipient" />
  </div>

</form>

<a href="#/index">Back</a>
