<div id="impacted_services" class="span9"></div>


<script type="text/javascript">
  $(function() {
    // DssMessenger is the app name
    window.router = new DssMessenger.Routers.impacted_servicesRouter({impacted_services: <%= @impacted_services.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>