<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @impacted_service.name %>
</p>


<%= link_to 'Edit', edit_impacted_service_path(@impacted_service) %> |
<%= link_to 'Back', impacted_services_path %>
