<div id="modifiers" class="span9"></div>


<script type="text/javascript">
  $(function() {
    // DssMessenger is the app name
    window.router = new DssMessenger.Routers.ModifiersRouter({modifiers: <%= @modifiers.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>