<h1>New classification</h1>

<form id="new-classification" name="classification">
  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Classifications" />
  </div>

</form>

<a href="#/index">Back</a>