<% if (status == "Maybe") { %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> The message sender might not be running; your messages might not be sent.
</div>
<% } %>
<% else if (!status) { %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> The message sender is not running; your messages will not be sent until it is started.
</div>
<% } %>
