<div id="recipients" class="span9"></div>


<script type="text/javascript">
  $(function() {
    // DssMessenger is the app name
    window.router = new DssMessenger.Routers.RecipientsRouter({recipients: <%= @recipients.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>