<h1>Edit dssevent</h1>

<form id="edit-dssevent" name="dssevent">
  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Dssevents" />
  </div>

</form>

<a href="#/index">Back</a>
