<h1>New dssevent</h1>

<form id="new-dssevent" name="dssevent">
  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Dssevents" />
  </div>

</form>

<a href="#/index">Back</a>