<div id="messenger_events" class="span9"></div>


<script type="text/javascript">
  $(function() {
    // DssMessenger is the app name
    window.router = new DssMessenger.Routers.messenger_eventsRouter({messenger_events: <%= @messenger_events.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>