<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @messenger_event.description %>
</p>


<%= link_to 'Edit', edit_messenger_event_path(@messenger_event) %> |
<%= link_to 'Back', messenger_events_path %>
