<% content_for :breadcrumb do %>
  <li>Preferences</li>
  <li class="active">E-Mail Footer</li>
<% end %>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <tbody>
        <% @settings.each do |setting| %>
          <tr>
            <td>
              <%= form_for [:preferences, setting] do |f| %>
                <%= f.text_area :item_value, class: "typeahead form-control", rows: 7 %><br />
                <%= f.submit "Save", class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- .col-md-12 -->
</div> <!-- .row -->
