<div id="edit_publishers">
    <div class="row">
        <div class="span3">
            <b>Code Name</b>
        </div>
        <div class="span7">
            <b>Displayed Name</b>
        </div>
        <div class="span2">
            <b>Default?</b>
        </div>
    </div>
</div>
