<div class="row-fluid">
    <div class="span3">
        <span class="code-name"><%= class_name %></span>
    </div>
    <div class="span7">
        <input type="text" class="pref_input" name="publisher" value="<%= name %>">
    </div>
    <div class="span2">
        <label class="checkbox inline"><input type="checkbox" /> Default</label>
    </div>
</div>
