<% content_for :breadcrumb do %>
  <li>Preferences</li>
  <li class="active">Publishers</li>
<% end %>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <tbody>
        <% @publishers.each do |publisher| %>
          <tr>
            <td>
              <%= form_for [:preferences, publisher], html: { class: "preferences__form" } do |f| %>
                <%= f.text_field :name, class: "typeahead form-control preferences__input" %>
                <div class="checkbox preferences__input" >
                  <label>
                    <%= f.check_box :default %>
                    Default
                  </label>
                </div>
                <%= f.submit "Update", class: "btn btn-default preferences__button--large" %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- .col-md-12 -->
</div> <!-- .row -->
