<div id="classifications" class="span9"></div>


<script type="text/javascript">
  $(function() {
    // DssMessenger is the app name
    window.router = new DssMessenger.Routers.ClassificationsRouter({classifications: <%= @classifications.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>