<h1>Listing messages</h1>

<table id="messages-table" class="table table-striped">
  <tr>
	  <th>Message</th>
	  <th>Sender</th>
	  <th>Sent</th>
	  <th></th>
	  <th></th>
	  <th></th>
  </tr>
</table>
