<table id="messages-table" class="table table-striped">
  <tr id="mtable-head">
	  <th>Message</th>
	  <th>Sender</th>
	  <th>Sent</th>
	  <th></th>
	  <th></th>
	  <th></th>
  </tr>
</table>

<div class="pagination pagination-centered hidden">
  <ul>
    <li><a class="more">Show more</a></li>
		<input type="hidden" id="current-page" value="1" />
  </ul>
</div>
