<h3 class="table-title">
	Active Messages 
	<a href="/messages/open.rss" target="_blank"> <small class="icon-rss" /></a>
</h3>

<table id="active-table" class="table table-striped">
  <tr id="mtable-head">
	  <th>Message</th>
	  <th>Sender</th>
	  <th>Created</th>
	  <th>Quick Actions</th>
	  <th></th>
  </tr>
</table>

<h3 class="table-title">Archived Messages</h3>

<table id="archive-table" class="table table-striped">
  <tr id="mtable-head">
	  <th>Message</th>
	  <th>Sender</th>
	  <th>Sent</th>
	  <th></th>
	  <th></th>
  </tr>
</table>

<div class="pagination pagination-centered hidden">
  <ul>
    <li><a class="more">Show more</a></li>
		<input type="hidden" id="current-page" value="1" />
  </ul>
</div>
