<h1>Edit modifier</h1>

<form id="edit-modifier" name="modifier">
  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Modifiers" />
  </div>

</form>

<a href="#/index">Back</a>
