#messages {
	position: relative;
}

.span3.affix{
    position: fixed; /* to stop the div from scrolling */
    top: 70px;          /* to fix the div at the top its containing element */
    right: 25px;        /* to fix the div at the right of its containing element */
}

.overlay {
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.10);
    z-index:9999;
    color:white;
    text-align: center;
}

.overlay .loading {
	background: transparent url('loading.gif') no-repeat 50% 50%;
	height: 100%;
	width: 100%;
    position:relative;
}

.overlay .error {
	padding: 3em;
	font-size: 3em;
}

.frameless {
    border: none;
}

div.token-input-dropdown-facebook {
    z-index: 1100;
}

input[type="text"], textarea {
    width: 400px;
    padding: 0;
}

ul.token-input-list-facebook {
    border: 1px solid #cccccc;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1em;
}

td.nowrap {
    white-space: nowrap;
}
