h1 {
    margin-bottom: 1em;
}

.invisible-well {
  background-color: #fff;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#messages {
	/*position: relative;   *** uncomment to have the overlay only on the messages table**/
	float: right;
}

.affix{
    position: fixed;  /* to stop the div from scrolling */
    top: 70px;        /* to fix the div at the top its containing element */
}

tr#mtable-head.affix {
    position: fixed;
    top: 40px;
}

tr#mtable-head.affix th{
    width: 100%;
    border-bottom: 1px solid #DDD;
}

/*.filters-well {
  height: 400px;
  overflow: auto;
}
*/
label.radio, label.checkbox {
  font-size: 12px;
  line-height: 1.2em;
}

.overlay {
	position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.10);
  z-index:9999;
  color:white;
  text-align: center;
}

.overlay .loading {
	background: transparent url('loading.gif') no-repeat 50% 50%;
	height: 100%;
	width: 100%;
  position:relative;
}

.overlay .error {
	padding: 3em;
	font-size: 3em;
}

.loading{
	background: transparent url('loading-small.gif') no-repeat 50% 50%;
	margin: 10px;
	width: 43px;
	height: 11px;
}

.more {
  cursor:pointer;
}

.frameless {
    border: none;
}

i.icon-trash {
    color:red;
    cursor:pointer;
}

div.token-input-dropdown-facebook {
    z-index: 1100;
}

input[type="text"], textarea {
    width: 400px;
    padding: 0;
}

input[type="text"].pref_input {
  padding: 2px;
  margin: 2px;
}

ul.token-input-list-facebook {
    border: 1px solid #cccccc;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1em;
}

/*********** tables ************/

td.nowrap {
    white-space: nowrap;
    font-size: 85%;
}

tr.archiving {
  filter:alpha(opacity=40);
  -moz-opacity:0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

tr.archiving td:nth-child(3) {
  background: url('loading-small.gif') 50% 50% no-repeat;
}

.accordion-heading .accordion-toggle {
  padding: 0px;
}

.accordion-heading a.accordion-toggle:hover {
  text-decoration:none;
}

.accordion-heading .accordion-toggle-icon {
  font-size: 70%;
  margin-right: 5px;
}

ul.token-input-list-facebook {
  clear: none;
}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  width: 180px;
}

.actions a.label {
  font-size: 10px;
  font-weight: normal;
  padding: 2px;
  line-height: 10px;
}

/*------- Modal -------*/
.modal {
    width: 800px;
    margin-left: -400px;
}

.modal-header {
  text-align: center;
}

/*------- Message Show View -------*/
.message-box {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 5px;
}
.message-body {
  margin: 1em;
}

/*--------- Forms ---------*/

.form-horizontal .control-label {
  padding: 0px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  margin-top: -1px;
}

a.message-preview {
  float: right;
  margin-right: 180px;
}

.editable{
  background: #f3f3f3;
}

.editable:focus {
    outline-width: 0;
}

#save-status {
  float: right;
  font-size: 12px;
}

/*--------- Delete Dialog ----------*/

.confirm-name {
  font-weight: bold;
  color: #A60000;
  text-transform: capitalize;
}

/******* Wide view / mobile view ********/
@media (min-width: 1200px) {
  .bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    width: 220px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    width: 128px;
  }
}
@media (max-width: 767px) {
	.affix {
	  position: static;
	  width: auto;
	  top: 0;
	}
	
	tr#mtable-head.affix {
      position: fixed;
      top: 0px;
  }
  
}