/*.actions a {
  margin-right: 4px;
  padding-left: 3px;
  padding-right: 3px;
}

label.radio, label.checkbox {
  font-size: 12px;
  line-height: 1.2em;
}

.overlay {
	position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.10);
  z-index:9999;
  color:white;
  text-align: center;
}

.overlay .loading {
	background: transparent url('loading.gif') no-repeat 50% 50%;
	height: 100%;
	width: 100%;
  position:relative;
}

.overlay .error {
	padding: 3em;
	font-size: 3em;
}

.loading{
	background: transparent url('loading-small.gif') no-repeat 50% 50%;
	margin: 10px;
	width: 43px;
	height: 11px;
}

.more {
  cursor:pointer;
}

a.close {
  font-size:12px;
}

.frameless {
    border: none;
}

i.icon-trash {
    color:red;
    cursor:pointer;
}

div.token-input-dropdown-facebook {
    z-index: 1100;
}

#edit_publishers input[type="text"] {
    width: 100%;
}

#edit_publishers b, #edit_publishers .code-name {
    display: block;
    padding: 2px;
    margin: 2px;
}

#edit_publishers .code-name {
    // font families copied from Stackoverflow's CSS sheet
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 12px;
}

input[type="text"].pref_input {
  padding: 2px;
  margin: 2px;
}

.control-group.error ul.token-input-list-facebook {
    border-color: #b94a48;
    margin-bottom: 0;
}

// tables

td.nowrap {
    white-space: nowrap;
    font-size: 85%;
}

tr.archiving {
  filter:alpha(opacity=40);
  -moz-opacity:0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

tr.archiving td:nth-child(3) {
  background: url('loading-small.gif') 50% 50% no-repeat;
}

ul.token-input-list-facebook {
  clear: none;
}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  width: 180px;
}

.label {
  font-size: 10px;
  font-weight: normal;
  padding: 2px;
  line-height: 10px;
}

// Message Show View
.message-box {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 5px;
}
.message-body {
  margin: 1em;
}

// Forms

a.message-preview {
  float: right;
  margin-right: 180px;
}

.editable{
  background: #f3f3f3;
}

.editable:focus {
    outline-width: 0;
}

button.save {
  float:left;
}

#save-status {
  float: right;
  margin-right: 3em;
}

span.section-head {
  display: block;
  margin-top: 12px;
  text-transform:uppercase;
}

// Delete Dialog

.confirm-name {
  font-weight: bold;
  color: #A60000;
  text-transform: capitalize;
}

// Wide view / mobile view
@media (min-width: 1200px) {
  .bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    width: 220px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    width: 128px;
  }
}
@media (max-width: 767px) {
	.affix {
	  position: static;
	  width: auto;
	  top: 0;
	}

	tr#mtable-head.affix {
      position: fixed;
      top: 0px;
  }

}*/

/* The vendor stylesheet has a margin we do not want. */
.datetimepicker {
	margin-top: 0;
}

/* Adjust Token Input to look more like Bootstrap */
ul.token-input-list-facebook {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
}
