div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  input {
    border-color: #c00;
  }

  textarea {
    border-color: #c00;
  }

  div.tokenfield {
    border-color: #c00;
  }
}
div.checkbox_errors {
  border: 1px solid #c00;
  border-radius: 2px;
  margin-left: -12px;
  padding-left: 12px;
}

#error_explanation {
  width: 50%;
  margin: 0 auto;
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1.0em;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
}
