<h1>Listing impacted_services</h1>

<table id="impacted_services-table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Impacted services</a>