<% content_for :content do %>
  <div class="row">
    <div class="col-md-12">

      <ul class="nav nav-tabs">
        <%
          nav_array = {
            'Classifications' => {
              controller: "classifications",
              url: preferences_classifications_path,
            },
            'Modifiers' => {
              controller: "modifiers",
              url: preferences_modifiers_path,
            },
            'Impacted Services' => {
              controller: "impacted_services",
              url: preferences_impacted_services_path,
            },
            'Publishers' => {
              controller: "publishers",
              url: preferences_publishers_path,
            },
            'E-Mail Footer' => {
              controller: "settings",
              url: preferences_settings_path
            }
          }
        %>
        <% nav_array.each do |title, details| %>
          <li role="presentation"<%= controller_name == details[:controller] ? ' class="active"'.html_safe : '' %> ><%= link_to title, details[:url] %></li>
        <% end %>
      </ul>

    </div> <!-- .col-md-12 -->
  </div> <!-- .row -->
<% end %>
<%= render template: "layouts/application" %>
