<!DOCTYPE html>
<html lang="en">
<head>
  <title>DSS Messenger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="overlay hidden">
		<div class="loading hidden">
			<div class="error hidden">Loading Error</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
		<%= yield %>
		</div>
	</div>

</body>
</html>
