<div class="modal">
    <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>About</h3>
		</div>
	<form id="edit-message" name="message">
	  <div class="modal-body">
			<h4>DSS Messenger</h4>
			Last updated: <span id="last_updated"></span>
	  </div>
	  <div class="modal-footer">
		<a class="btn" href="#/index" data-dismiss="modal">Close</a>
	  </div>
	</form>
</div>
<div class="modal-backdrop"></div>
