<form id="new-message" name="message" class="form-horizontal">

	<ul class="nav nav-tabs" id="configTabs">
		<li><a href="#Classifications" data-toggle="tab">Classifications</a></li>
		<li><a href="#Modifiers" data-toggle="tab">Modifiers</a></li>
		<li><a href="#Services" data-toggle="tab">Impacted Services</a></li>
		<li><a href="#Footer" data-toggle="tab">Email Footer</a></li>
	</ul>



	<div class="tab-content">

		<div class="tab-pane active" id="Classifications">
		  <div class="control-group">
		    <label class="control-label" for="classifications"> Classifications</label>
				<div class="controls">
					<div id="classifications_prefs"></div>
				</div>
		  </div>
		</div>

		<div class="tab-pane" id="Modifiers">
		  <div class="control-group">
		    <label class="control-label" for="modifiers"> Modifiers</label>
				<div class="controls">
					<div id="modifiers_prefs"></div>
				</div>
		  </div>
		</div>

		<div class="tab-pane" id="Services">
		  <div class="control-group">
		    <label class="control-label" for="impacted_services"> Impacted Services</label>
				<div class="controls">
					<div id="impacted_services_prefs"></div>
				</div>
		  </div>
		</div>

		<div class="tab-pane" id="Footer">
		</div>

	</div>
	
</form>
