<h1>Preferences</h1>
<form id="new-message" name="message" class="form-horizontal">

	  <div class="control-group">
	    <label class="control-label" for="classifications"> Classifications</label>
			<div class="controls">
				<div id="classifications_select"></div>
			</div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="modifiers"> Modifiers</label>
			<div class="controls">
				<div id="modifiers_select"></div>
			</div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="impacted_services"> Impacted Services</label>
			<div class="controls">
				<div id="impacted_services_select"></div>
			</div>
	  </div>

  </div>

	<div class="form-actions">
		<a class="btn" href="#/index">Done</a>
	</div>
	
</form>
